---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="404">
  <div class="w-screen flex flex-grow justify-center items-center p-8">
    <div class="flex flex-col gap-8 items-center p-10 border-2 border-bb2-100 rounded-3xl backdrop-blur-sm bg-opacity-60 bg-bb2-400 shadow-md shadow-bb2-400">
      <span class="text-7xl text-center font-mono">404</span>
      <p class="text-xl font-bold text-center">Te has perdido en el bosque</p>
      <a href="/" class="p-4 bg-bb2-500 rounded-xl border-4 border-bb2-400 hover:bg-bb2-400 transition text-sm font-medium">Vuelve a casa</a>
    </div>
  </div>
</BaseLayout>