---
import BaseLayout from "../layouts/BaseLayout.astro"
import { Searcher } from "../components/interactive/Searcher"
import { Map } from "../components/interactive/Map.jsx"
import "../styles/search.css"
---
<BaseLayout title="Buscador de Biodiversidad">
	<section class="flex-grow lg:grid [grid-template-columns:3fr_2fr] gap-4 sm:px-4 md:mx-16 md:mb-6">
		<Searcher client:idle/>
		<Map width="w-full" height="h-[32vw]" classes="hidden"/>
	</section>
</BaseLayout>

<script src="../scripts/radio.js"></script>
