<footer class="flex justify-end">
  <div class="p-2 sm:pl-10 sm:pr-4 mt-4 lg:mt-0 w-full sm:w-fit sm:rounded-tl-full bg-bb2-200/70">
    <p class="text-center text-sm text-white">Copyright © {new Date().getFullYear()} Arrecife. Todos los derechos reservados.</p>
  </div>
</footer>